[Desktop Entry]
Encoding=UTF-8
Version=0.1
Name=Serenade
GenericName=Serenade
Comment=Google Music player
Exec=/usr/bin/invoker --type=e -s --splash /opt/serenade/splash.png /opt/serenade/serenade.sh
Terminal=false
Type=Application
Icon=/opt/serenade/icon.png
