Source: serenade
Section: user/multimedia
Priority: extra
Maintainer: Michael Sheldon <elleo@gnu.org>
Build-Depends: debhelper (>= 7), dpatch
Standards-Version: 3.8.4
Homepage: http://blog.mikeasoft.com/tag/statusnet-meego

Package: serenade
Architecture: any
Depends: python-pyside.qtcore, python-pyside.qtgui, python-qtmobility.multimediakit, python-dbus, python-gconf, python-pyside.qtdeclarative, python-chardet, ${misc:Depends}
Description: Stream and download music from your Google Music or Google Play account.
 Serenade allows you to use the Google Music service on your N9. This means you
 can keep all of your music and playlists synchronised between devices, 
 stream music from your  Google account, download music to your phone and upload 
 music to your account.
 .
 You must have a Google account to make use of this application.
XB-Maemo-Display-Name: Serenade Music Player
XB-Maemo-Icon-26: iVBORw0KGgoAAAANSUhEUgAAAFAAAABQCAYAAACOEfKtAAAABmJLR0QA/wD/AP+gvaeTAAAVqUlE
 QVR4nO1de2xU15n/nfu+857xC4ONsZsoFDvUQENFEopqypIXSZdQV6rUqKtVpRXZlZY/Wqm7W621
 eaFGVYkqZbUqf6StqqWwRSCcbkTSBuKGFBLsrGsIDtgxxjbYY8+M53nfZ/9gzmXGDzCeMfV2+5OO
 5t65d8459+fvfOc73/m+a+AvKAnkXjV04sQJjyAIGwkhX+A4bi0hZDUhJMJxXIjn+QAhJMhxnLyQ
 uiilmm3bScdxkpTSOKU0ZprmMKX0E9M0ezmO69m1a1d2qZ8JWEICOzs7twqC8KQgCI9IkrSO5/mw
 bdvEtm04juMWSqn7SSkFAPdzVmcJcT8JIeA4zv1khed5cBxHbduOWZZ10TCM9ymlnU888cT7S/Gc
 ZSOQUko6OzufVVX127Isb6WUBizLgmmasCwLjuOUq6kFgeM4CIIAURQhCAIATOu63mUYxhtPPPHE
 UULI3H+lu0TJBB4/fnylqqovqqr6147jhAzDgGEY95ywO4HjOEiSBEmSQAhJaJr2a8dxfvDYY49d
 L6XeRRPY2dnZJEnSAVVVdxqGIWmatuxImw8cx0FRFEiSpOu6/pZpmv/4+OOPDy2mrrsm8PDhw3wg
 EDigqup3dF2XNU2bV2ctdxBCoCgKZFnWk8nkf5w/f35fR0fHXUnBXRHY2dnZpCjKbwghD6TT6f8z
 Encn8DwPr9cLSunFWCz2VHt7+2cL/e2CCTxy5MjjkUjkV5qm+TVNW1xPlzny0phMJpN7du/e/fZC
 frMgAo8dO/YNj8fzRjabVUzTLK2XyxySJMHr9eYSicS39+zZc/hO99+RwKNHj+7wer2dqVRKsm27
 PL1c5hAEAX6/X0+lUk89++yz79zu3tsSeOjQoZZgMHgmk8n4/9wlbyZEUYTH40mm0+kt7e3tF+e7
 T7hdJR6P50g2m/Xrul7+Hi5z6LoOQkjA4/H8CsCD8903rwQeOXLkZUmSvp9MJpekgzPh9XoRDofd
 JR2lFLlcDul0GpZl3ZM+zIVAIADbtv9t9+7d/zrX9TkJPHbsWD3HcZeSyaRnKfUez/NoaGhAfX09
 MyOK1sWO48AwDORyOSQSCUxNTWF6evqemk88z8Pv96d1XV/b3t4+OvP6nEPYNM2fOI7jWUq919TU
 hJaWFkiShGw2i8nJSZimCZ7nIYoiZFmGKIpQFAWKosDn8yEUCkHTNCQSCYyNjd0TyXQcB5qm+Qgh
 rwHYM/P6LAk8duxYveM4A4lEQlyKFYYoiti6dStWrVqFnp4eXLx4EYZhIBgMIhAIwO/3w+fzQVVV
 WJaFaDSK6upqVFRUgBACXdeRSqVAKcXIyAjGxsaWfCVECEE4HNbT6XTjt771raK18ywJ1DTtJcdx
 xKUYJl6vF21tbbBtGwcOHEAymURFRQUikQhUVWWGLDKZDK5cuYLp6WkAwMDAAGpra9Ha2gqv1wtZ
 lpFOp/G5z30ONTU16O3txVKOFkopNE2TBUF4EcDfFl4rksDDhw/zhJCp6enpYLkJVFUV27dvRzQa
 xcGDB8HzPCorK10CQ6EQRFHEtWvXMN+sL8sytm3bhnA4DNu2kcvlYNs2stkszp49O+/vygGO4xAM
 BuN79uypKHSFcYU3aZr2DdM0g8x/V64CAFu2bEE0GsVrr70GwzAgSRJkWXZ1XDKZxKeffopcLjdv
 PblcDr/73e8wPT0NRVHg9/uhKAq8Xi++9KUvgeO4sva7sOR9m+Ff/OIXRXqwiECe559jbqlylnXr
 1gEADhw4ANu23aEqSRJ8Ph8mJiYQjUYXVJemaXjnnXeQzWahqipUVXX9fBs2bACAJSNR0zRwHPc3
 cxJIKSWU0ofLTaDP50NdXR0OHjyIXC7nEieKIsLhMKampqDr+l3Vmc1m8e6774IQAlmWmRsfsiyj
 sbHRNYGWiMCHKaWu6uPZwZo1a7YC+LtcLldkzJZaNm7ciI8//hinT5+G1+uFx+OB1+tFVVUVbNuG
 aZqLqjedTkMQBFRXV8OyLGia5urARCIBwzDK+hzsjyKKotLd3X3y+PHj14DiWXhXuV3x4XAYoiji
 +PHj7jCTZdnVfZlMpqT6z507h8bGRgiCAMuywDasampqcOXKlTI9RTEMwwDP808BOAMUEEgI2cKG
 UrmwevVqvPvuu9A0DYFAAKIoQhRFVFVVIZVKlVy/ruvo7u7GQw89BEIIU/SwbRuSJGEp/Ja6rsPj
 8Wxh5y6BjuM8UE4J9Hq9cBwHp06dclcVoihCkiRXp5QDFy5cwLp16yCKIgzDcHcBFUVBKpUCz/N3
 ruQuYBgGvF7vWnbOA8DPf/5zr23bL2az2bJtc964cQN9fX0YHx8HpRSWZUEURTQ0NJRVMhzHgaIo
 qKyshGEYSCQSyOVyyOVyyGQy4DjuzpXcBSilUBTFs3Hjxv2nTp2yBQDIZDKthBBSzuG7bds2HDp0
 CCtWrIAoiuA4DrZtI5VKQRTFsrUDAH19ffB4PPjZz37m/nE4jkMymURzczMURSlre6ZpcitXrvwC
 gA+FfGOt5Ry+9fX1uP/++9Hb21v0vSRJaGxsLKueBYB0Oo2TJ0/ii1/8IjKZDIaHh8HzPKqqqmCa
 JkRRdKMayoH8aNoARqDjOM3ljB7gOA5nz56d9X1FRQXy7ZWlnUKsWbMGmzZtwvT0NK5du+a2Yds2
 eJ6HJEllayvvNXoQyE8itm2vKieBIyMjGBoaguM4RTqITSBLgVQqhZqaGlRUVMDr9RaZSKZpsvCO
 siDvRlsF5AkkhETKSeDly5cxMjIC27bdGBVZlhGJRJaMwGg0CuCmAzQUChURyOzDciFvc1YAtyQw
 VM5Gmpub8fnPfx4//elPIYoiLMtCOp3GlStXUFdXV5Y25sLw8DAURcFcXvRyEpjnKgTkCWSRVOVq
 RNd1DAwMQBRFOI4DVVXBcRwsy0JPTw/8fj9WrVoFWV5QOOCCMTAwgEgkgmQyCUVR4DgOCsPpygXL
 skApDQC3JNBXLgkcGhrC2NgYMpkMamtrXeenx+OB4zhIJpOIx+P47LPPUF9fj/vuu6/kNhmuX7+O
 gwcPwjRNBINBCIKAWCyGS5cu4Wtf+xqCwWDZ2nIcxwfckkDJtu2SXeOWZUGWZaxevRoAEI/HEYvF
 YBhGUYwgC4a8evUqkskk1q9fX7LBSwjB2rVrcenSJZw8eRK5XA6aprlOhlgsBr/fX1IbDHnnggTk
 CXQchyt1940QwhbasG0bqqqit7cXuq6761NGICEEPM9DEARkMhnwPI/m5uZFtRuNRnH16lVs3rwZ
 zc3N+O1vf1sU6crKyMgI6uvrS3rGwme1LIsHbkkgX+rwFQQBuq4jHo9jx44deP3115FKpVzymDuo
 sBMs6PHy5cvw+/13NcFMTEzg9OnTGBoaAgA899xz+OSTT9Df3+86FjweDyRJgmVZuHTpEhoaGrBi
 xYqSnrMAtwi0bbskAgkhEEURmqZhx44deP/99xGPx91hywgsjINmcc6macI0TfT392PlypV3bItS
 ijNnzuDDDz90Z9vdu3djfHwc7733Hv74xz+irq4OjY2NME0Tuq5jcnISFy5cQHd3N7Zs2VIWXeg4
 Dg/kPdKUUr4URyMjzzAMrFq1Cl1dXbAsC4Ux0qZpguM4bN++HZFIxCWOOUOvX7++IOfqiRMncO7c
 OVea29rasH79erz99tvo6urCo48+ipaWFgiC4C7f/H4/WltbMTk5ib6+vnI5VwWXwFJd3RzHIZFI
 YN26dTh+/Dh0XXcdnLZtu8f3338/Wlpa8Pzzz4MQ4l6zLAu6rmNiYuK27fzhD3/A4OCgK4l1dXV4
 +umnMTExgYmJCWzbtg1VVVXu9XQ6jdHRUQwMDGB0dBR1dXWIxWKIxWJlcfEXEmiXWpFlWdi4cSNO
 nz49izg2hJkSr62txY4dO9xrrCQSiXnbuHHjBs6fPw9CCCil8Pl82Lt3L3RdR39/P1paWlBbW+vq
 1mw2i0wmA8e5GSqSyWQwPj4OXdcxPj5eMnmUUsslEMCiCeR5HplMBrlcDn19fUilUi4hhYZsZWUl
 ZFl2tx4rKipm3cfChueTPkYGUwX19fUYHx+HYRhoaWlx9SohBI7jzMonYSpiZGSkHBJoA7cmEXux
 k4jj3Nyv5XkePT09RY0UklNfX++6lSilrmHNHhIA5ttSmJiYwNjYmDs0a2pq8NRTTyEej+P8+fN4
 7LHHXJJkWXY9MOy7wpJMJl3zSVXVRT1zXv3YQMEQXuxWoKZpsG0bkUgEQ0NDc+5kybKMcDgMQRDA
 8zwIIa5nht3DZue52mB+RUopBEHAtm3bUFlZifHxcYTDYfh8Ptc4Z20UZi/NJDKXyy14H/o2auuW
 BFJKjZl22kKhqiq++c1vYnR0FCdPnpxFIABEIhF3P5gNYSaJhYUNvUIYhoGRkRGX3HA4jK9+9auI
 RqPo6+vD1q1bXZKY9DEiBUGYRR4AN2hpIWbTXMg/g15IYJpSWrEYAjmOg8/nc6VxJiil8Pv9RQ/j
 OM6cSzdBEGYRODw87Np7lFJ4vV5UV1ejt7fXXZ5ZluUmz+RyOTdnjuk/y7KQzd7MPWRGdiqVWpTA
 sDoopSng1q7cNLA4lw8zlgVBgG3bRX9pdsz2bZmtyCRgpn7y+/2z+nDt2jWXPEVR8PTTT2N6ehrj
 4+NYs2aNu+vG+sCWkyxHLhqNIhaLwefzYWxsDIqiwDRNlJJZlW8zCdyahROsk3dbmEHM4l1mznys
 6LqOTCYDTdNgmiZGRkZmERgIBGbVPzEx4RKkKAqampowPj6OwcFBbNq0qSisg0keI5CFBweDQViW
 hbVr18IwDAAAy7BaTCnkjDkTEqyTdwsWMRoIBOD1epFOp4tSUCml0HUdmqaB53lks1nouo7BwcGi
 YSaKIlRVLepDLpdzwzWY+aKqKq5cuYJEIoGamhrmmwPP8zAMwyVRkiQMDg7Ctm0MDAy4ksPzPCil
 5fBSx10COY4bXiyBADA2NobW1lasXLkSk5OTRfYaAGSzWTdsLZvNIhqNYmhoyJVSnueLAswZpqam
 XHVA83vL2WwW4+PjkCQJgiC4szib1RlJmqZBkiSMjY25KiQajcLj8SCXy805YS0UeR047BII4EIp
 FV69ehUNDQ3YsGEDLly4UESEbdvQdd2VpnQ6PUv6OI5DVVXVrPZZhCpwS71cvHgRAwMDWLVqlUsg
 c2awLUwWqFmY4sqWi6FQyNWTpUggz/O9wC0Cu4HFS+Do6CimpqbQ3NwMURRnSZKmaUgmk5AkCYlE
 Ah999JG72GcSWFdXN6v9mbO6KIpoamqCIAjYvHmzOxwLzRZW4vG4K5mSJCGXyxVNdCz0ZDHIj4rz
 QJ5AURQ/5nnecRxnUW7hWCyG4eFhNDQ0oKmpyV3ws8Ycx0EikYAsy+jp6XENYuCmGVRbWzvnlufM
 uGee5/HlL3/ZnbjYdWYWMfJEUUQ2m4UgCG4soiRJCIVC7m9CodCiCeQ4znrwwQf7gPws3NHRYRBC
 Jlln7rbYto1Lly7h+vXraG1tRSAQgMfjcTvOQjtY8A97UEmS4PF4sHr16jnrnUkgm2xmSpskSa7u
 Y4VNJqwPkiS5IcHAzdC7xTxrXu1E29vbb61EAEAQhD6e59sWm3sxMTGBwcFBVFZWorq6GvF4HJIk
 zenSL1x2rVy50t1Bm4lCNcAMYGZsF15jx0z6GGG6rheRp+s6AoEADMNwjf+7hSiKrv4DCgjkef4M
 x3FtpSjWgYEBaJqGtWvXor+/3zVZDMOYc08kHA7fdigVhqYRQpDNZl3DfOZ6m6kFRuIDDzyACxcu
 gOd5KIqCSCSCTCYDURRL0n/5P/4H7LxQAv+b47h/KYVAx3Fw9epVSJLkJsqwvd9CbzMhxN2vuF17
 hfEsjPRUKuW65AsdEIxINhtv3LgRb775JhobG0EIQSKRwH333YfR0VGsWLGiJAIlSfqNe84O9u/f
 /4EoiinWoVKKpmkueY7juPHKbMXA1sZ3qqfQ3VS4AcX0XKHDoPC9MaIoIhAIYO/evSCEwOfz4ZFH
 HnH7s1j9BwCyLE+/8sorH80ikBBCVVU9Xc4oJo7j4PF4EAgEEAgE4PP5oCjKgkPNwuFwUV2UUnz6
 6aeurTdzQmHn7LOurg5f//rX8fDDD7t6tpS9YUmSoCjKqXkTbVRVfaOcBJYKlgfCkE6n0dXV5fr8
 mBTOnHUZiSxZkaWRJRIJVFdXL7o/+eD4g4XfFRH40EMPHVNVdbrcYbGloKamxj22bRv9/f2Ympoq
 kr78zFh0PjMjIJVKlRSpml+Hx3/4wx++WfR94Ul7e7vt9XoPL9bVvRRoaGgoMrpN08TRo0eLpG+u
 YyaBHo8HhBBMTEws2oUP3BwNHo/nP2e+MmqWqIXD4X/yeDzacpFCURSxZs0aADdn4lQqhcOHD7sr
 jblKoY4khKC7u7uk2BuO4+D1erPhcPifZ16blQNw6tSp7NatW9frut68XF40EQqF3Oh74KYuvHHj
 Bnbu3Dnr3kLbMJ1O46233kI8Hi+pfVVVUVFR8V/79+//5cxrcyZR7Nq162w2m/2OpmlSocX/pwIh
 xN3zzWaz0DQNAwMDmJ6exubNm2dF/TuOg/7+fpw4cQKJRKKktvMRr6lIJPJMV1fXrOygee2Jffv2
 /X00Gv1JoUtpOYBSikQigXg8Dl3XUVNTg7a2NlRVVYHjOExOTuLy5cso18sygsEgqqqqnv/xj3/8
 +lzXb2uQ7d27t2dycrKVDZ3/b1BVFZWVld2vv/76pvnuua1mra6u3hGJRMaWk214ryBJEsLh8Ggw
 GPyr2913WwI7Ojomw+HwjlAoNF3ONIHlDkEQEA6HE3V1ddtfeeWVqdvde8dMvN///vfRtra2/wHw
 jGmaUokbMcseecdrqrKy8hsvvPDC7GyhGVhQKuMHH3xw5cknnzxGKX3GsqzAn/JNQksJRVFQUVEx
 UldX9+hLL710biG/WXAu6HvvvTe5c+fOQ4SQrxBCapl76s8B+bcTIRKJfBiJRL7ywgsvDC/0t4vK
 wPvud7/7D7FY7MVUKhX4c3gFqN/vn45EIt9/9dVX//1u61hUNvKZM2fObd++/VeiKDYJgtDIcRxf
 jjSJewWe55mbTY9EIm9WVFQ8s3///tu+J3A+lJwD+r3vfW9lNpt9MZfL7dZ1Pchc+MttsmEO2byH
 JuH1en/t8/l+8PLLL/9pXoM8E5RSsm/fvmcty/p2Lpfbquv6snoRtyzL04qidMmy/MaPfvSj5fMi
 7vmwb9++rY7jPGkYxiOmaa4zTfOevgpeFMWYJEkXRVF8X5blzldffXV5vwr+Tujo6PCkUqmNtm1/
 wbbttY7jrHYcJ+I4TohSGrBtO0gplQHAcRwRs/WzzXGcCQCEEI3juGS+xAVBiFFKhwVB+ARAbygU
 6uno6Lgn/4zgLygR/wuaYr4fJqHRwgAAAABJRU5ErkJggg==
